/*
	1. All
	2. Header
	3. welcome section
    4. project section
    5.  footer section
    6.  media querry
*/

/*------------------------
    1. All
------------------------*/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #303841;
    --main-color2: #BE3144;
    --body-color: #45567D;
    --footer-color: #303841;
    --font-color: #F0F0F0;
    --p-font: 1.5rem;
    --h1-font: 3rem;
    --h5-font: 2rem;
}

body {
    font-size: var(--p-font);
}

/*------------------------
    2. Header
------------------------*/

nav {
    background-color: var(--main-color2);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-items {
    display: flex;
    margin-right: 2rem;
}

.nav-items a {
    color: var(--font-color);
    display: block;
    padding: 2rem;
    font-size: var(--p-font);
}

.nav-items a:hover {
    background-color: var(--body-color);
}

/*------------------------
  3. welcome section
------------------------*/
#welcome-section {
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1F21;
    flex-direction: column;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1 {
    font-size: var(--h1-font);
    color: var(--font-color);
    display: block;
}

#welcome-section p {
    display: block;
    font-style: italic;
    font-size: var(--h5-font);
    color: var(--main-color2);
    font-weight: 200;
}

/*------------------------
  4.  project section
------------------------*/
#projects {
    background-color: var(--body-color);
    width: 100%;
    text-align: center;
    padding: 5rem 2rem;
}

.project-tile {
    max-width: 42rem;
    margin: 0 auto 6rem auto;
    font-size: var(--h1-font);
    font-weight: 500;
    color: var(--font-color);
    border-bottom: 0.2rem solid var(--font-color);
}

.project-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-image {
    margin: 1rem 2rem 0 2rem;
    height: 25rem;
    width: 25rem;
    object-fit: cover;
}

.project-title {
    background-color: var(--main-color);
    color: var(--font-color);
    position: relative;
    top: -0.4rem;
    width: 25rem;
    left: 2rem;
    padding: 1.8rem;
}
.project-title span{
    color: var(--main-color);
}
.project-title:hover .icon {
    color: #ff7f50;
    transition: 0.3s ease-out;
}
.all-project {
    margin: 3rem auto 4rem auto;
    display: inline-block;
    background-color: var(--main-color);
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.all-project:hover {
    background-color: var(--main-color2);
    transition: 0.3s ease-out;
}

.all-project a {
    color: var(--font-color);
}
/*------------------------
  5.  footer section
------------------------*/
footer {
    background-color: var(--footer-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h2 {
    color: var(--font-color);
    font-size: 3.5rem;
    margin-top: 5rem;
}
footer p {
    display: block;
    color: var(--font-color);
    font-weight: 200;
    font-style: italic;
    margin-top: 1rem;
    margin-left: 6rem ;
}
footer a {
    color: var(--font-color);
}
.footer-icon ul{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.footer-icon li{
 margin: 0 1rem 3rem 1rem;
 transition: transform 0.3s ease-out;
}
.footer-icon li:hover{
    transform: translateY(1rem);
   }
.border-footer{
    width: 100%;
    border: .1rem solid var(--main-color2);
    margin-top: 5rem;
}
.desc-footer p{
display: inline-flex;
justify-content: space-evenly;
padding: 2rem ;
font-size: 1rem;
}

/*------------------------
  6.  media querry
------------------------*/
@media ( max-width: 768px) {
    nav{
        align-items: center;
        font-size: .5rem;
        
    }
    .nav-items a {
        padding:1rem;
    }
    #welcome-section {
        width: 100%;
        height: 20rem;
    }
    #welcome-section h1{
        font-size:1.5rem ;
    }
    #welcome-section p {
        font-size:1.rem ;
    }
    .project-item{
        width: 100%;
    }
    .project-tile{
        width: 100%;
        margin: 1rem 0;
        font-size: 2rem;
    }
    .project-image{
        width: 100%;
        margin: 1rem 0;
    }
    .project-title {
        width: 100%;
        padding: 1rem 0;
        left: 0;
    }
    .project-title span{
        display: none;
    }
    .all-project{
        margin: 4rem 0 0 0;
        padding: .5rem;
    }
#projects {
    padding: 5rem 0;
}
footer h2 {
font-size: 1rem;
}
footer p{
    font-size: 1rem;
    margin: 1rem 0;
}
.desc-footer p {
padding: 2rem 0;
}
}